# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Codelite

Debug
Release
Release_gcc_unicode
DebugUnicode
*.session
*.tags
*.d
*.o
*.pyc
bin
bin/ofMaker
lib
*.mk
*.workspace.session
